@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('Gotham Bold.woff') format('woff');
}

/*REGOLE GENERALI*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Bold';
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #0C0804;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    font-size: 50px;
    padding-left: 20px;
}

h4 {
    color: white;
}

.radius {
    border-radius: 150px;
}

/*LEFT MENU*/

.left_menu {
    width: 250px;
    height: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    top: 0;
    left: 0;
}

.logo {
    width: 150px;
    height: 55px;
    margin: 15px 10px;
}

.menu_icon li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    opacity: 0.7;
}

.menu_icon li:hover {
    color: white;
    opacity: 1;
    border-left: 2px solid #1ED760;
    transition: 0.3s;
}

.menu_icon img {
    padding: 0 8px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 125px;
}

.button button:hover {
    width: 185px;
    height: 40px;
    opacity: 1;
    transition: 0.3s;
}

.button button {
    width: 180px;
    height: 35px;
    border-radius: 50px;
}

.first_btn {
    background-color: white;
    color: black;
    border: black;
}

.first_btn a {
    color: black;
}

.secnd_btn {
    background-color: black;
    border: 2px solid white;
    margin-top: 20px;
    opacity: 0.7;
}

.policy {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    opacity: 0.7;
    font-size: 10px;
}

.policy span {
    padding: 15px;
    border-right: 1px solid white;
}

.policy span:last-child {
    border-right: none;
}

.policy span a:hover {
    text-decoration: underline;
}

/*MENU HEADER*/

.menu_static {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 250px;
    margin-top: 25px;
}

.menu_icon_static {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_icon_static li a {
    opacity: 0.7;
    margin: 15px;
}

.menu_icon_static li a:hover {
    opacity: 1.0;
    border-bottom: 1.5px solid #1DB954;
    transition: 0.3s;
}

/*MENU ARTISTS*/

.menu_artists {
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.icon_artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

.artists {
    width: 160px;
    height: 180px;
    margin: 25px;
    text-align: center;
}

.artists img {
    width: 150px;
    height: 150px;
}

/*FOOTER SETTING FIXED*/

.range {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting_music {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #282828;
}

.setting_music div {
    width: calc(100%/3);
    height: 100%;
    float: left;
}

.button_player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button_player ul li {
    display: inline-block;
    align-items: baseline;
}

#big_play {
    width: 45px;
    height: 45px;
}

.media_player div {
    height: 50%;
    width: 100%;
}

.button_player li img {
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;;
    transition: 0.3s;

}

.button_player li img:hover {
    opacity: 0.2;
    background-color:grey;
}

/*RANGE INPUT*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 8px;
    height: 8px;
    background: #4CAF50;
    cursor: pointer;
}

/*VOLUME*/

.volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.volume img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.setting_volume {
    margin-right: 10px;
    -webkit-appearance: none;
    width: 30%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: 0.2s;
}

